p{
    color: black;
    background-color: aquamarine;
    height: 20;
    width: 50%;
}
h1{
    color: blue;
}
h2{
    color: blueviolet;
}
h3{
    color: brown;
}
.abc{
    background-color: beige;
    height: 20;
    width: 50%;
    margin: auto;
}